# Ignore virtual environment directories
.venv/
.VSCodeCounter/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore uploads directory
uploads/

# Ignore IDE/editor files (e.g., VS Code settings)
.vscode/

# Node.js dependencies
node_modules/

# Ignore system files (e.g., macOS)
.DS_Store

# Ignore environment files
.gitIgnore
build.txt
.dockerignore
